# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Data files
/admet_predict/data/
/admet_predict/ADMET Final.csv
/predictions.csv
/pkcsm_predictions.csv
/pkcsm_predictions.csv.xlsx
/admet_predict/All toxicity files/

# Downloaded papers and supplementary data
/ADMET AI Paper.pdf
/admet_predict/btae416_supplementary_data/

# OS-specific files
*:Zone.Identifier

# Temporary files
/admet_predict/New Text Document.txt

# Excel files
*.xlsx
